.edu-list {
  margin-top: 50px;
}

.edu-list ul {
  list-style-type: none;
}

.edu-item {
  width: 100%;
  height: 200px;
  margin: auto;
}

.edu-title {
  color: #EEB631;
}

@media only screen and (min-width: 800px) {
  .edu-title {
    width: 75%;
    height: 100%;
    float: left;
    margin-right: 15px;
  }
}

.edu-title h4 {
  font-size: 2.2rem;
  text-align: left;
  margin-top: 0;
}

.edu-title p {
  color: #222222;
  font-size: 1.8rem;
  text-align: left;
}

@media only screen and (min-width: 800px) {
  .edu-description {
    margin-left: 75%;
    height: 100%;
  }
}

.edu-description p {
  text-align: left;
}

.edu-description p b {
  font-size: 1.8rem;
}
