.skill-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.thumbnail, .skills-grid {
  text-align: center;
  background-color: transparent;
  border-color: transparent;
}

.skill-element p {
  width: 50%;
  margin: 0 25%;
}
