.edu-list {
  margin-top: 50px;
}

.edu-list ul {
  list-style-type: none;
}

.edu-item {
  width: 100%;
  height: 200px;
  margin: auto;
}

.edu-title {
  color: #EEB631;
  width: 75%;
  height: 100%;
  float: left;
}

.edu-title h4 {
  font-size: 2.2rem;
  text-align: left;
}

.edu-title p {
  color: #222222;
  font-size: 1.8rem;
  text-align: left;
}

.edu-description {
  margin-left: 75%;
  height: 100%;
}

.edu-description p {
  text-align: left;
}

.edu-description p b {
  font-size: 1.8rem;
}
