<h1><%= I18n.t('templates.about.contact.header') %></h1>
<div class="contact-box">
  <p> <%= email %> </p>
  <p> <%= phone %> </p>
  <div class="social">
    <a href="https://www.linkedin.com/in/rodrigo-vasconcelos-de-barros" target="_blank">
      <img src="https://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/linkedin.png">
    </a>
    <a href="https://github.com/rodrigopk" target="_blank">
      <img src="https://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/github.png">
    </a>
    <a href="https://twitter.com/_rodrigopk" target="_blank">
      <img src="https://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/twitter-icon.png">
    </a>
  </div>
</div>
