<div class="container">
  <div class="jumbotron">
    <img class="picture" src="https://res.cloudinary.com/rodrigopk/image/upload/v1560195262/profile_pic_cropped_jorrvq.jpg"/>
    <h1 class="name">Rodrigo Vasconcelos de Barros</h1>
    <h4 class='title'><%= I18n.t('templates.about.home.title') %></h4>
    <div class="info">
      <p class="lead"><%= I18n.t('templates.about.home.age', age: age) %></p>
      <p><%= I18n.t('templates.about.home.location') %></p>
    </div>
    <div class="pitch">
      <p class="lead"><%= I18n.t('templates.about.home.pitch') %></p>
    </div>
  </div>
</div>
